@import url(fonts/Proxima-Nova/proxima.css);
@import url(fonts/fira.css);
/*
	Fira Sans, 100, 100 italic, 200, 200 italic, 300, 300 italic, 400, 400 italic, 500, 500 italic, 600, 600 italic, 700, 700 italic
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%;
  width: 100%; }

body {
  background: url(../images/background.png) repeat;
  font-family: 'fira_sansbook', Sans, sans-serif; }

a {
  text-decoration: none; }

p {
  font-family: 'fira_sanslight', Sans, sans-serif; }

ul {
  list-style: none; }

.h2 {
  font-size: 27px; }

.h1, .h2, .h3 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1; }

.left {
  float: left; }

.right {
  float: right; }

.wrapper {
  position: relative;
  min-height: 100%;
  height: 100%;
  padding-bottom: 50px; }

.container {
  width: 960px; }

.container {
  margin-right: auto;
  margin-left: auto; }

.main-menu {
  float: left;
  position: relative;
  min-height: 1px;
  margin-right: 53px; }

.horizontal .menu-item {
  display: inline-block; }

.vertical {
  display: block;
  margin: 0;
  padding: 0; }

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .form-group:before, .form-group:after, .modal-footer:before, .modal-footer:after, .box:before, .box:after, .container-big:before, .container-big:after {
  display: table;
  content: " "; }

.clearfix:after, .dl-horizontal dd:after, .container:after, .form-group:after, .modal-footer:after, .box:after, .container-big:after {
  clear: both; }

.gradient-line {
  height: 2px;
  background: #edf1f5;
  /* Old browsers */
  background: -moz-linear-gradient(left, #edf1f5 0%, #1e667a 50%, #e5edf1 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #edf1f5), color-stop(50%, #1e667a), color-stop(100%, #e5edf1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #edf1f5 0%, #1e667a 50%, #e5edf1 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #edf1f5 0%, #1e667a 50%, #e5edf1 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #edf1f5 0%, #1e667a 50%, #e5edf1 100%);
  /* IE10+ */
  background: linear-gradient(to right, #edf1f5 0%, #1e667a 50%, #e5edf1 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf1f5', endColorstr='#e5edf1',GradientType=1 );
  /* IE6-9 */ }

.header {
  height: 120px;
  background-color: #eff3f7;
  margin-bottom: 40px; }
  .header .header-inner {
    max-width: 1140px;
    margin: auto;
    height: 100%; }
    .header .header-inner .header-logo {
      margin-top: 35px; }
    .header .header-inner .header-menu {
      margin-top: 35px;
      margin-right: 25px; }
      .header .header-inner .header-menu .header-menu__item {
        height: 47px;
        width: 47px;
        margin-left: 25px; }
        .header .header-inner .header-menu .header-menu__item .header-menu__link {
          display: block;
          height: 100%;
          width: 100%; }
        .header .header-inner .header-menu .header-menu__item .vk {
          background: url(../images/vk.png) no-repeat; }
        .header .header-inner .header-menu .header-menu__item .vk:hover {
          background: url(../images/vk1.png) no-repeat; }
        .header .header-inner .header-menu .header-menu__item .github {
          background: url(../images/github.png) no-repeat; }
        .header .header-inner .header-menu .header-menu__item .github:hover {
          background: url(../images/github1.png) no-repeat; }
      .header .header-inner .header-menu .header-menu__item:first-child {
        margin-left: 0; }

.main-menu {
  width: 26%; }
  .main-menu .nav-menu {
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 20px; }
    .main-menu .nav-menu .nav-menu__item {
      position: relative;
      padding: 20px 4px;
      background-color: #eff3f7; }
      .main-menu .nav-menu .nav-menu__item .link {
        font-size: 20px;
        color: #959aa8;
        margin-left: 20px; }
      .main-menu .nav-menu .nav-menu__item .link:hover {
        color: #3ba8c0; }
      .main-menu .nav-menu .nav-menu__item .current {
        background: #3ba8c0;
        margin: 0;
        border-bottom: none;
        padding-left: 6px; }
        .main-menu .nav-menu .nav-menu__item .current .link {
          color: #ffffff; }
    .main-menu .nav-menu .nav-menu__item:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 3%;
      right: 3%;
      border-bottom: 2px solid #3ba8c0; }
    .main-menu .nav-menu .nav-menu__item:last-child:after {
      border-bottom: none; }
  .main-menu .contacts {
    color: #ffffff;
    font-family: 'fira_sansbook', Sans, sans-serif;
    font-style: normal; }
    .main-menu .contacts .contacts__header {
      background: #3ba8c0;
      border-radius: 4px 4px 0 0; }
    .main-menu .contacts .h3 {
      font-size: 20px;
      padding: 12px 19px 6px;
      margin: 0; }
    .main-menu .contacts .contacts-menu__item {
      padding: 10px 0 3px 41px; }
      .main-menu .contacts .contacts-menu__item a {
        color: #ffffff;
        margin-left: 10px;
        vertical-align: top;
        line-height: 1.3; }
      .main-menu .contacts .contacts-menu__item a:hover {
        text-decoration: underline; }
    .main-menu .contacts .contact-icon {
      display: inline-block;
      vertical-align: top;
      background-image: url(../images/cont.png);
      line-height: 1.5; }
    .main-menu .contacts .mail {
      background-color: #41B9D4;
      font-size: .9em; }
      .main-menu .contacts .mail .contact-icon {
        background-position: 0 0;
        width: 21px;
        height: 16px; }
    .main-menu .contacts .phone {
      background-color: #48CBE8; }
      .main-menu .contacts .phone .contact-icon {
        background-position: 0 -66px;
        width: 19px;
        height: 21px; }
    .main-menu .contacts .skype {
      background-color: #51DAF8; }
      .main-menu .contacts .skype .contact-icon {
        background-position: 0 -137px;
        width: 20px;
        height: 19px; }
    .main-menu .contacts .contacts-menu__item:last-child {
      border-radius: 0 0 4px 4px; }

.main {
  width: 68%;
  position: relative;
  border-radius: 4px; }
  .main .box {
    background: #eff3f7;
    border-radius: 4px;
    margin-bottom: 25px; }
  .main .h2 {
    border-bottom: 2px solid #3ba8c0;
    margin-bottom: 20px;
    padding: 19px 23px;
    display: inline-block;
    color: #3ba8c0; }
  .main .portrait {
    float: left;
    width: 201px;
    min-height: 200px;
    margin-left: 23px;
    margin-top: 15px; }
  .main .main-info {
    margin-left: 40px; }
  .main .info-list__item {
    margin-bottom: 17px; }
  .main .skills {
    display: inline-block;
    width: 188px;
    line-height: 2; }
    .main .skills .skill-item {
      background-color: #308ca2;
      background-image: -webkit-linear-gradient(top, #3da8bf 0%, #308ca2 50%, #1e667a 50%, #145c7a 100%);
      background-image: -moz-linear-gradient(top, #3da8bf 0%, #308ca2 50%, #1e667a 50%, #1e667a 100%);
      background-image: -o-linear-gradient(top, #3da8bf 0%, #308ca2 50%, #1e667a 50%, #145c7a 100%);
      background-image: linear-gradient(top, #3da8bf 0%, #308ca2 50%, #1e667a 50%, #145c7a 100%);
      text-align: center;
      min-width: 40px;
      color: #ffffff;
      font-size: .7em;
      padding-left: 4px;
      padding-right: 4px;
      margin-left: 3px;
      margin-bottom: 10px;
      display: inline-block;
      border: 1px solid #308ca2;
      border-radius: 4px; }

.about-me .item {
  padding-right: 70px;
  margin-bottom: 23px;
  margin-top: 9px; }
.about-me .about-icon {
  background: url(../images/icon-set.png) no-repeat;
  display: inline-block;
  width: 41px;
  margin-left: 20px;
  margin-bottom: 6px; }
.about-me .icon-college {
  background-position: 0 0;
  height: 23px; }
.about-me .icon-course {
  background-position: 8px -73px;
  height: 32px; }
.about-me .icon-portfel {
  background-position: 0 -155px;
  height: 30px; }
.about-me .info-block {
  display: inline-block;
  margin-left: 15px; }
  .about-me .info-block .where {
    font-family: 'fira_sansbook', Sans, sans-serif;
    font-size: 16px;
    margin: 0; }
  .about-me .info-block .period {
    font-family: 'fira_sanslight', Sans, sans-serif;
    font-size: 16px;
    margin: 0; }

.my-work .box {
  min-height: 400px; }
.my-work .item {
  width: 183px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 13px 12px 26px;
  position: relative; }
  .my-work .item img {
    width: 100%;
    height: 100%;
    border: 2px solid #3ba8c0; }
  .my-work .item .hover-img {
    overflow: hidden;
    width: 180px;
    height: 125px;
    border-radius: 4px;
    margin-bottom: 8px; }
  .my-work .item .zoom-wrapper {
    position: absolute;
    width: 100%;
    top: 55px;
    text-align: center;
    transform: scale(0);
    -webkit-transform: scale(0);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out; }
  .my-work .item a {
    color: #3ba8c0;
    font-family: 'fira_sanslight', Sans, sans-serif;
    font-size: 13px;
    text-decoration: none; }
  .my-work .item .description {
    font-size: 15px;
    margin: 5px 0;
    line-height: 1.2; }
.my-work .item:hover img {
  -moz-opacity: 0.2;
  opacity: .2;
  filter: alpha(opacity=20); }
.my-work .item:hover .hover-img {
  background-color: #016CA4; }
.my-work .add-new-item {
  border: dashed 1px #3ba8c0;
  border-radius: 4px;
  height: 128px;
  cursor: pointer;
  color: #3ba8c0; }
  .my-work .add-new-item .icon-add {
    background: url(../images/upload.png) no-repeat;
    height: 32px;
    width: 32px;
    display: block;
    margin: 32px auto 9px;
    transition: all 400ms linear;
    -webkit-transition: all 400ms linear; }
  .my-work .add-new-item span {
    color: #3ba8c0;
    font-size: 13px;
    transition: all 400ms linear;
    -webkit-transition: all 400ms linear; }
.my-work .add-new-item:hover .icon-add {
  animation: moveFromBottom 500ms ease;
  -moz-animation: moveFromBottom 500ms ease;
  -ms-animation: moveFromBottom 500ms ease;
  -webkit-animation: moveFromBottom 500ms ease; }
.my-work .add-new-item:hover span {
  animation: moveFromBottom 600ms ease;
  -moz-animation: moveFromBottom 600ms ease;
  -ms-animation: moveFromBottom 600ms ease;
  -webkit-animation: moveFromBottom 600ms ease; }

.footer {
  width: 100%;
  margin-top: -50px;
  height: 50px;
  text-align: center;
  background: #eff3f7;
  position: relative;
  clear: both; }

@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(200%);
    opacity: 0; }

  to {
    -webkit-transform: translateY(0%) scale(1);
    opacity: 1; } }

@-moz-keyframes moveFromBottom {
  from {
    -moz-transform: translateY(200%);
    opacity: 0; }

  to {
    -moz-transform: translateY(0%);
    opacity: 1; } }

@-ms-keyframes moveFromBottom {
  from {
    -ms-transform: translateY(200%);
    opacity: 0; }

  to {
    -ms-transform: translateY(0%);
    opacity: 1; } }

@-o-keyframes moveFromBottom {
  from {
    -o-transform: translateY(200%);
    opacity: 0; }

  to {
    -o-transform: translateY(0%);
    opacity: 1; } }

@keyframes moveFromBottom {
  from {
    transform: translateY(200%);
    opacity: 0; }

  to {
    transform: translateY(0%);
    opacity: 1; } }
